// import
// -------------------------
@import "variables.scss";

/*-----------------------------------------------------------
common
-------------------------------------------------------------*/
body{
}
.inner{
  width: $innerWidth;
  margin: 0 auto;
  position: relative;
  @include box-sizing();


  @media (max-width: $BreakPoint1) {
    width: auto;
  }
}

.hover{
  @include transition();
  &:hover{
    @include opacity(0.7);
  }
}

/*-----------------------------------------------------------
header
-------------------------------------------------------------*/
@import "header.scss";

/*-----------------------------------------------------------
footer
-------------------------------------------------------------*/
@import "footer.scss";

/*-----------------------------------------------------------
side
-------------------------------------------------------------*/
@import "side.scss";

/*-----------------------------------------------------------
content
-------------------------------------------------------------*/
@import "content.scss";

/*-----------------------------------------------------------
form
-------------------------------------------------------------*/
@import "form.scss";

/*-----------------------------------------------------------
index
-------------------------------------------------------------*/
@import "index.scss";

/*-----------------------------------------------------------
second
-------------------------------------------------------------*/
@import "second.scss";